<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Default" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WsHttpBinding" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MathsOperations/" binding="basicHttpBinding"
                bindingConfiguration="Default" contract="ServiceReference1.IMathsOperations"
                name="Default" />
            <endpoint address="http://localhost:5555/AnotherPort" binding="basicHttpBinding"
                bindingConfiguration="Default" contract="ServiceReference1.IMathsOperations"
                name="AnotherPort" />
            <endpoint address="http://localhost:8733/MathsOperations/AnotherAddress"
                binding="basicHttpBinding" bindingConfiguration="Default"
                contract="ServiceReference1.IMathsOperations" name="AnotherAddress" />
            <endpoint address="http://localhost:8733/MathsOperations/WsHttpBinding"
                binding="wsHttpBinding" bindingConfiguration="WsHttpBinding"
                contract="ServiceReference1.IMathsOperations" name="WsHttpBinding">
                <identity>
                    <userPrincipalName value="SERVEUR-AFC-ADR\piernov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>